<h2>
    <i class="icon-file-alt"></i>
    <span data-bind="html: displayName"></span>
</h2>

<div class="container-fluid documents-page">
    <div class="row-fluid">
        <div class="span2">
            <ul class="nav nav-pills nav-stacked document-collections" data-bind="foreach: collections">
                <li data-bind="click: activate, css: { active: $data === $parent.selectedCollection() }">
                    <a href="#">
                        <div class="collection-color-strip" data-bind="css: colorClass"></div>
                        <span data-bind="text: name"></span>
                        <span class="muted" data-bind="text: '(' + documentCount() + ')'"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="span10">
            <div data-bind="widget: { kind: 'dataTable', items: currentCollectionPagedItems }" style="overflow: auto;"></div>
        </div>
    </div>
</div>