<h2>
    <i class="icon-file-alt"></i>
    <span data-bind="html: displayName"></span>
</h2>

<div class="container-fluid documents-page">
    <div class="row-fluid">
        <div class="span2">
            <ul class="nav nav-pills nav-stacked document-collections" data-bind="foreach: collections">
                <li data-bind="click: activate, css: { active: $data === $parent.selectedCollection() }">
                    <a href="#">
                        <div class="collection-color-strip" data-bind="css: colorClass"></div>
                        <span data-bind="text: name"></span>
                        <span class="muted" data-bind="text: '(' + documentCount() + ')'"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="span10">
            <div id="ConfirmationDiv" class="confirmation-drop-down" style="display: none;">
                <div style="margin-top: 5px; display:inline-block;">
                    <strong data-bind="text: deleteConfirmationText"></strong>
                </div>
                <div class="pull-right">
                    <button class="btn" data-bind="click: confirmDelete">Yep, delete</button>
                    <button class="btn" data-bind="click: dismissDeleteConfirmation">Nevermind</button>
                    <i class="icon-remove muted" data-bind="click: dismissDeleteConfirmation" style="margin-left: 10px;"></i>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div data-bind="widget: { kind: 'dataTable', items: currentCollectionPagedItems, collections: collections }"></div>
        </div>
    </div>
</div>
