html,
body {
  height: 100%;
}
.page-host {
  padding: 20px 20px 50px 20px;
  position: relative;
  top: 40px;
}
.splash {
  text-align: center;
  margin: 10% 0 0 0;
}
.splash .message {
  font-size: 5em;
  line-height: 1.5em;
  -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
  text-transform: uppercase;
}
.splash .icon-spinner {
  text-align: center;
  display: inline-block;
  font-size: 5em;
  margin-top: 50px;
}
.navbar-fixed-top .navbar-inner {
  padding-left: 1em;
  padding-right: 1em;
}
.navbar-fixed-top .icon-home {
  font-size: 18px;
}
.loader {
  margin: 6px 8px 4px 8px;
  visibility: hidden;
}
.loader.active {
  visibility: visible;
}
@media (max-width: 979px) {
  .page-host {
    top: 0;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
}
.page {
  padding: 0 10px 20px 10px;
  width: 98%;
}
.document-collections {
  margin-top: 40px;
}
.document-collections li {
  outline: none;
}
.document-collections li:not(:first-child) {
  padding-left: 15px;
}
.collection-style-0 {
  background-color: #00c700;
}
.collection-style-1 {
  background-color: #c7009a;
}
.collection-style-2 {
  background-color: red;
}
.collection-style-3 {
  background-color: #0095ef;
}
.collection-style-4 {
  background-color: #a70068;
}
.collection-style-5 {
  background-color: #006464;
}
.collection-style-6 {
  background-color: #7832c7;
}
.collection-style-7 {
  background-color: #c72828;
}
.all-documents-collection {
  background: #ff0202;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ff0202 0%, #fff202 27%, #02ff1b 54%, #0206ff 79%, #f602ff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0202), color-stop(27%, #fff202), color-stop(54%, #02ff1b), color-stop(79%, #0206ff), color-stop(100%, #f602ff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ff0202 0%, #fff202 27%, #02ff1b 54%, #0206ff 79%, #f602ff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ff0202 0%, #fff202 27%, #02ff1b 54%, #0206ff 79%, #f602ff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ff0202 0%, #fff202 27%, #02ff1b 54%, #0206ff 79%, #f602ff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ff0202 0%, #fff202 27%, #02ff1b 54%, #0206ff 79%, #f602ff 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0202', endColorstr='#f602ff', GradientType=0);
  /* IE6-9 */

}
.documents-progress {
  height: 10px;
}
.documents-page .collection-color-strip {
  height: 20px;
  width: 4px;
  display: inline-block;
  vertical-align: middle;
}
.documents-page .datatable {
  outline: 0;
  display: block;
  width: 100%;
  overflow: auto;
}
.documents-page .datatable thead th:last-child {
  width: 99%;
}
.documents-page .datatable tbody tr.checked td {
  background-color: #ffc;
}
.documents-page .datatable tbody tr.checked td .row-check {
  visibility: visible;
}
.documents-page .datatable tbody tr td {
  white-space: nowrap;
  max-width: 200px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.documents-page .datatable tbody tr .row-check {
  visibility: hidden;
}
.documents-page .datatable tbody tr:hover .row-check {
  visibility: visible;
}
.documents-page .datatable-progress {
  position: fixed;
  height: 10px;
  bottom: 50px;
}
.breadcrumb {
  padding: 0 10px 0 10px;
}
footer {
  position: fixed;
  bottom: 0;
  margin-top: 50px;
  background-color: silver;
  color: black;
  border-top: 2px solid black;
  width: 100%;
}
footer ul {
  display: inline-block;
}
.splash .message {
  font-size: 5em;
  line-height: 1.5em;
  -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
}
.splash .icon-spinner {
  text-align: center;
  display: inline-block;
  font-size: 5em;
  margin-top: 50px;
}
.navbar-fixed-top .navbar-inner {
  padding-left: 1em;
  padding-right: 1em;
}
.navbar-fixed-top .icon-home {
  font-size: 18px;
}
@media (max-width: 979px) {
  .page-host {
    top: 0;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
}
