<div class="documents-page">
    <div class="row">
        <div class="col-lg-2">
            <br />
            <ul class="nav nav-pills nav-stacked document-collections affix" data-bind="foreach: collections">
                <li data-bind="click: activate, css: { active: $data === $parent.selectedCollection() }">
                    <a href="#">
                        <div class="collection-color-strip" data-bind="css: colorClass"></div>
                        <span data-bind="text: name"></span>
                        <span class="text-muted" data-bind="text: '(' + documentCount() + ')'"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-10">
            <br />
            <div data-bind="widget: { kind: 'dataTable', items: currentCollectionPagedItems, collections: collections }"></div>
        </div>
    </div>
</div>
