<div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <ul class="nav" data-bind="foreach: router.visibleRoutes">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, html: name"></a>
                </li>
            </ul>
            <ul class="nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-plus"></i> New <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="icon-file"></i> Document</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-bolt"></i> Index</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-search"></i> Dynamic Query</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-search" data-bind="submit: search">
                <input type="text" class="search-query input-medium" placeholder="Go To Document" />
            </form> 
            <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
                <i class="icon-spinner icon-2x icon-spin"></i>
            </div>      
            <ul class="nav pull-right">
                <li>
                    <a style="padding-right: 0; display: inline-block;" href="#">Databases &gt;</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-bind="with: activeDatabase" data-toggle="dropdown" href="#" style="padding-left: 5px;">
                        <span data-bind="text: name"></span> 
						<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" data-bind="foreach: databases">
                        <li>
                            <a href="#" data-bind="text: name, click: activate"></a>
                        </li>
                    </ul>
                </li>
                <li><a href="#" title="edit database settings"><i class="icon-cogs"></i></a></li>
                <li>
                    <a class="brand" data-bind="attr: { href: router.visibleRoutes()[0].hash }">
                        <i class="icon-home"></i>
                        <span>RavenDB</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="container-fluid page-host">
        <!--ko compose: { 
            model: router.activeItem, //wiring the router
            afterCompose: router.afterCompose, //wiring the router
            transition:'entrance', //use the 'entrance' transition when switching views
            cacheViews:true //telling composition to keep views in the dom, and reuse them (only a good idea with singleton view models)
        }--><!--/ko-->
    </div>
</div>

<footer>
    <div>
        <ul class="inline">
            <li><a href="#">Statistics: </a></li>
            <li><a href="#">N documents</a></li>
            <li><a href="#">N indexes</a></li>
            <li><a href="#">N stale</a></li>
            <li><a href="#">N errors</a></li>
            <li><a href="#">N triggers</a></li>
            <li><a href="#">N tasks</a></li>
            <li><a href="#">Raw Url: </a></li>
        </ul>
        <ul class="inline pull-right">
            <li><span>Licensing Status:</span></li>
            <li><a href="#">AGPL - Open Source</a></li>
            <li><span>Server Build #NNNN</span></li>
            <li><span>Client Build #NNNN</span></li>
        </ul>
    </div>
</footer>