<div class="documents-page">
    <div class="row">
        <div class="col-md-2">
            <br />
            <ul class="nav nav-pills nav-stacked affix">
                <li><a href="#statistics">Statistics</a></li>
                <li><a href="#logs">Logs</a></li>
                <li><a href="#alerts">Alerts</a></li>
                <li><a href="#indexErrors">Index Errors</a></li>
                <li><a href="#replicationStatistics">Replication Statistics</a></li>
                <li><a href="#userInfo">User Info</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div data-part="content">Some default content goes here.</div>
        </div>
    </div>
</div>