<div class="documents-page">
    <div class="row">
        <div class="col-md-2">
            <br />
            <ul class="nav nav-pills nav-stacked affix">
                <li data-bind="click: switchView.bind($data, 'statistics')"><a href="#">Statistics</a></li>
                <li data-bind="click: switchView.bind($data, 'logs')"><a href="#">Logs</a></li>
                <li data-bind="click: switchView.bind($data, 'alerts')"><a href="#">Alerts</a></li>
                <li data-bind="click: switchView.bind($data, 'index-errors')"><a href="#">Index Errors</a></li>
                <li data-bind="click: switchView.bind($data, 'replication-statistics')"><a href="#">Replication Statistics</a></li>
                <li data-bind="click: switchView.bind($data, 'user-info')"><a href="#">User Info</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <br />
            <!--            <div data-bind="widget: { kind: 'dataTable', items: currentCollectionPagedItems, collections: collections }"></div>-->
            <div data-bind="text: activeView"></div>
            <div data-bind="text: data"></div>
        </div>
    </div>
</div>